.cover {
  width: 100%;
  margin: 92px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

@media (max-width: 950px) {
  .cover {
    margin-top: 90px;
	}
}

@media (max-width: 767px) {
  .cover {
    margin-top: 66px;
	}
}
