.photo-grid__items {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 16px 16px;

  list-style-type: none;
}

@media (max-width: 1200px) {
  .photo-grid__items {
		grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 14px 14px;
	}
}

@media (max-width: 950px) {
  .photo-grid__items {
		grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 16px 16px;
	}
}

@media (max-width: 767px) {
  .photo-grid__items {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
    gap: 12px;
  }
}
