.place {
  margin: 0;
  padding: 0 0 80px 0;
  display: grid;
  grid-template-columns: auto 484px;
  gap: 48px 40px;
}

.place:last-of-type {
  padding-bottom: 0;
}

@media (max-width: 1200px) {
  .place {
		grid-template-columns: auto 456px;
    gap: 48px 32px;
	}
}

@media (max-width: 950px) {
  .place {
		grid-template-columns: auto 352px;
    gap: 48px 28px;
    padding-bottom: 72px;
	}
}

@media (max-width: 767px) {
  .place {
		grid-template-columns: auto;
    gap: 32px;
    padding-bottom: 50px;
	}
}
